* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    /*width: 100%;*/
    /* border: 3px solid black; */
    height: 300px;

    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:300px;
    justify-items: center;
    align-items:center;

}

header section figure{
    /* border: 3px solid green; */
    /* align-self: center;
    justify-self: center; */
    text-align: center;
}

header .barradenavega {
    /* height: 150px; */
    /* width: 100%;
    border: 3px solid red;
    justify-self:end;
    align-self: end; */
    /* border: 3px solid red; */
    align-self:center;
    
}

header nav .barradenavega1 {
    /* border: 4px solid blue; */
    /* display: flex; */
    
    
}

figure img {
    height: 200px;
    width: 60%;
}
figure figcaption{
    
}

header section nav ul {
   display: flex;
   justify-content: flex-end;
   list-style: none;
   width: 100%;
   height: auto;
   border: 1px solid black;
   

}

header nav ul li {
    
    margin: 10px;
}